@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>Tenille Diel CIT301C MvcMovie Project</h3>

<p>This is my Model View Controller Movie Project, created while following the tutorial available from Microsoft.</p>
<p><a href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc">Click here</a> to read it yourself!</p>
